* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  border: none;
  border-radius: 0;

  background: none;
  box-shadow: none;
}

body {
  font-family: var(--font-family);
  font-weight: 500;
  color: var(--color-slate-900);
  background-color: var(--color-white);
}

button,
input,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
